/* Estilos generales para el pie de página */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilos para la navegación del pie de página */
.footer-nav,
.footer-nav-list {
  display: flex;
  flex-direction: column;
}

/* Estilos para los elementos de la lista de navegación del pie de página */
.footer-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Estilos para cada elemento de la lista de navegación del pie de página */
.footer-nav-list-item {
  margin: 0 0.5rem;
}

/* Estilos para el párrafo de derechos de autor */
.footer p {
  font-size: 0.875rem;
  color: #6c757d;
  margin: 0;
}

/* Estilos para los iconos */
.footer-icons {
  width: 30px;
  height: 50px;
  object-fit: contain;
  /* Considera agregar esta propiedad si los iconos no son cuadrados */
}

@media (max-width: 768px) {
  /* Estilos para dispositivos con ancho de pantalla menor o igual a 768px */

  .footer-nav-list {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav-list-item {
    margin: 0.5rem 0;
  }

  .footer-icons {
    display: none;
  }
}

@media (max-width: 576px) {
  /* Estilos para dispositivos con ancho de pantalla menor o igual a 576px */

  .footer-nav-list {
    font-size: 0.875rem;
  }

  .footer p {
    font-size: 0.75rem;
  }
}
