/* Estilos para menu hamburguesa */
.hamburger {
  display: none;
}

/* Estilos para el header y la navegación */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-item {
  list-style: none;
  position: relative;
  font-weight: 700;
  overflow: hidden;
  transition: color 0.3s;
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: var(--link-color);
}

.logotipo {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1rem;
  bottom: 0;
  left: 100%;
  background-color: var(--link-color);
  transition: all 0.3s;
  transform: translateX(0%);
  z-index: -1;
}

a:hover::before {
  width: 100%;
  left: 0;
}

/* Estilos específicos para pantallas pequeñas */
@media (max-width: 768px) {
  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }

  .hamburger {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
  }

  .hamburger:focus {
    /* Evita que el navegador agregue un borde al elemento */
    outline: none;
  }
  
  .hamburger__line {
    width: 1.8rem;
    height: 0.25rem;
    background: var(--text-color);
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
    position: relative;
    transform-origin: center;
  }



  .hamburger.open .hamburger__line:nth-child(1) {
    transform: rotate(45deg) translate(.4rem, .4rem);
  }
  
  .hamburger.open .hamburger__line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open .hamburger__line:nth-child(3) {
    transform: rotate(-45deg) translate(.4rem, -.4rem);
  }

  .nav {
    display: none;
    flex-direction: column;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
  }

  .nav-open {
    display: flex;
    transition: all 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  .nav-open .nav-container {
    max-height: max-content; /* Ajusta este valor según el contenido del menú */
  }
}
