/* Estilos para menu hamburguesa */
.hamburger {
  display: none;
}

/* Estilos para el header y la navegación */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-item {
  list-style: none;
  position: relative;
  font-weight: 700;
  overflow: hidden;
  transition: color 0.3s;
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: var(--link-color);
}

.logotipo {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1rem;
  bottom: 0;
  left: 100%;
  background-color: var(--link-color);
  transition: all 0.3s;
  transform: translateX(0%);
  z-index: -1;
}

a:hover::before {
  width: 100%;
  left: 0;
}

/* Estilos específicos para pantallas pequeñas */
@media (max-width: 768px) {
  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }

  .hamburger {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
  }

  .nav {
    display: none;
    flex-direction: column;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
  }

  .nav-open {
    display: flex;
    transition: all 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  .nav-open .nav-container {
    max-height: max-content; /* Ajusta este valor según el contenido del menú */
  }
}
